h1 {
  --typography-spacing-vertical: 0.5rem;
}

main {
  --block-spacing-vertical: 0 !important;
}

button,
details > summary {
  text-transform: uppercase;
  font-weight: bold;
}

.inline {
  display: inline;
}

#actions,
#copyright {
  margin-top: 3rem;
  text-align: center;
}
