h1 {
  --typography-spacing-vertical: 0.5rem;
}

main {
  --block-spacing-vertical: 0 !important;
}

button,
details > summary {
  text-transform: uppercase;
  font-weight: bold;
}

.inline {
  display: inline;
}

.hide {
  display: none !important;
}

#actions,
#copyright {
  margin-top: 3rem;
  text-align: center;
}

input.col-name {
  width: auto;
  margin-left: 1rem;
}

.notice-warning {
  --color-warning: #ea580c;
  color: var(--color-warning);
  border: 1px solid var(--color-warning);
  padding: var(--spacing);
  border-radius: 4px;
}
